

table#emails
    thead
        tr
            th From
            th To
            th Subject
            th Sent
            th  
    tbody
        tr.waiting
            td(colspan="5") waiting for mail...


script
    var listener = new listen();