

table#emails
    thead
        tr
            th App
            th From
            th To
            th Subject
            th Sent
            th  
    tbody
        tr.waiting
            td(colspan="6") waiting for mail


script
    var listener = new listen();