!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src='/javascripts/listen.js')
  body
    #container
      #header
        h1 mailspy
        .actions
            input#search(type='search',placeholder='search mail eg from:test@test.com')
            .settings 
                a settings
      #content!= body